*{
    margin: 0;
    padding: 0;
    
}

.bg-light{
    background: rgb(195,34,95);
    background: linear-gradient(0deg, rgba(195,34,95,1) 0%, rgba(253,45,75,0.9962578781512605) 100%);
   
}

.navbar-brand{
    justify-content: center;
    color: aliceblue;
}

.menu{
    justify-content: center;
    color: aliceblue;
}

.card-img, .card-img-bottom, .card-img-top{
    width: 100px;
}

.card, .card-body{
    width: 100px;
    justify-content: space-evenly;
}

.card-deck{
    padding-top: 3rem;
}
.navbar-light .navbar-brand{
    color: aliceblue;
}
.navbar-light .navbar-nav .nav-link{
    color: aliceblue;
}
.cuerpoPeli{
    flex: 1 1 auto;
    padding: 1.25rem;
}
