@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

.bg-light{
    background: rgb(195,34,95);
    background: linear-gradient(0deg, rgba(195,34,95,1) 0%, rgba(253,45,75,0.9962578781512605) 100%);
   
}

.navbar-brand{
    justify-content: center;
    color: aliceblue;
}

.menu{
    justify-content: center;
    color: aliceblue;
}


.card-img, .card-img-bottom, .card-img-top{
    width: 100px;
}

.card, .card-body{
    width: 100px;
    justify-content: space-evenly;
}
.contPeli{
    padding-top: 3rem;
}